[submodule "benchmark/isling_simulation_benchmark"]
	path = benchmark/simulated_data
	url = https://github.com/szsctt/isling_simulation_benchmark.git
[submodule "benchmark/sra_data/src/run_other_tools/docker/seeksv/seeksv"]
	path = benchmark/sra_data/src/run_other_tools/docker/seeksv/seeksv
	url = https://github.com/qiukunlong/seeksv.git
