.Rproj.user
.Rhistory
.RData
.Ruserdata
Rstudio_plots.Rproj
test_data
.DS_store
.snakemake
Rplots.pdf
benchmarking/LW_benchmarking/
benchmarking/*.fa
benchmarking/batch/*
benchmarking/*ipynb
benchmarking/.ipynb_checkpoints/*
benchmarking/example.bam
.ipynb_checkpoints/
benchmarking/notebooks/Trace.ipynb
Trace.ipynb
*.Rproj
snakemake_rules/__pycache__
analysis.tsv
.parallel/
*tsv
*txt
*.sif
*.out
scripts/__pycache__/
benchmark/Release/
benchmark/sra_data/data/reads/
benchmark/sra_data/data/references/human_g1k_v37.fasta
benchmark/sra_data/data/references/mm10_no_alt_analysis_set_ENCODE.fasta
benchmark/sra_data/logs/
benchmark/sra_data/out/
benchmark/sra_data/data/references/human_g1k_v37.fasta.fai
enchmark/sra_data/data/references/mm10_no_alt_analysis_set_ENCODE.fasta.fai
out
benchmark/sra_data/data/references/mm10_no_alt_analysis_set_ENCODE.fasta.fai
.cache
tests/__pycache__/
